.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mg-container{
width: 80%;
margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

nav{
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

nav span{
  padding-right: 20px;
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.logo img{
  width: 50px;
  vertical-align: middle;
  margin-right: 20px;
}

.logo span{
  font-size: 20px;
  font-weight: bolder;
}

/* MAIN */

main{
  background-color: #70ffd6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
}

.mg-selectLevel{
  text-align: center;
  font-weight: bold;
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sq */
.mg-sq{
  width: calc(100% / 7);
  height: calc(100% / 7);
  cursor: pointer;
  border: 1px solid white;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

/* grid */

.mg-grid{
  width: 400px;
  height: 400px;
  display: block;
  background-color: green;
}

/* color */

.mg-red{
  background-color: red;
}

.mg-blue{
  background-color: blue;
}

.mg-active{
  display: block;
}

/* FOOTER */

footer{
  line-height: 50px;
  height: 50px;
}